.main{
    height: 1300px;
    width: 1500px;
    margin: auto;
    background-color: brown;
    
}
.header{
    height: 700px;
    width: 1500px;
    background-color: antiquewhite;
}
.logo{
}
.menu{
    height: 100px;
    width: 1318px;
    background-color: chartreuse;
    position: absolute;
   margin-left: 180px;
   top: 10px;


}
.menu ul li{
    float: left;
    background-color: black;
    text-align: center;
    display: block;
    line-height: 70px;
    height: 80px;
    width: 300px;
    font-size: 40px;
    


}
