.main{
 background-image: url(/HTML/images/home.jpg);
 height: 800px;
 width: 1200px;

}

 .d{
    font-style: italic;
    margin: 100px;
    font-size: 30px;
    color: rgb(234, 23, 23);
    
 }
.side{
    margin-left: 380px;
    word-spacing:20px ;
    color: white;
    
}
.second{
    text-align: center;
    color: white;
    margin-top: 15rem;
    margin-bottom:15px;
    font-size: 25px;
}
 .m{
    text-align:center;
    color: azure;
    margin-bottom:40px ;
 }  
 button{
    width: 180px;
    padding: 15px ;
    border-radius:25px ;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
 }
 
 button:hover{
    border: none;
    transform: scale(1.2);
    background-color: gray;
 }
 a{
   color: rgb(18, 21, 21);
   text-decoration: none;
  
 }
 a:hover{
   color: red;
   transform: scale(1.2);
  
 }
 


